.input {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px 0px 10px 0px;
    padding: 10px;
    outline: none;
}


.btnAdd {
    background-color: #00aa00;
    margin-right: 10px;
    margin-bottom: 30px;
    animation: rotate 1.5s ease;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

.btnRemove {
    background-color: #cd0023;
    animation: rotate 1.5s ease;
}

 @keyframes rotate {
     0% {
         opacity: 0;
         transform: rotate(0deg);
     }


     100% {
         opacity: 1;
         transform: rotate(360deg);
            
     }
 }